[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/barreiroleo/nvim-config.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/barreiroleo/tmux-config.git
